:root {
  --mainblack: #111;      /* чорний */
  --mainwhite: #fff;      /* білий */
  --accentcolor: #53c28b; /* акцентний колір */
  --header: #111;
  --headercolor: #fff;
  --shadow: rgba(0, 0, 0, 0.35);
  /* Додайте інші змінні для інших кольорів, які ви хочете використовувати */
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html.menuOpen {
  overflow: hidden;

}

.theme{
  transition: all 0.3s ease 0s;
}
.dark{
  background: #111;
  color: #fff;

}
.light{
  background: #fff;
  color: #111;
  --header: #fff;
  --headercolor: #111;
  --shadow: rgba(100, 100, 111, 0.2);

  
}
.dark .image{
  filter: grayscale(100%);
}

a{
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease 0s;
}

@media (min-width: 767.98px){
  a:hover{
    color: #53c28b;
  }
}

.container{
  max-width: 1366px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 767.98px){
  .container{
    padding: 0 20px;
  }
}

.button{
  cursor: pointer;
  background-color: #53c28b;
  border: none;
  border-radius: 5px;
  width: max-content;
  color: #fff;
  transition: all 0.3s ease 0s;
}
.button:hover{
  background-color: #15da77;
}
.button.blue:hover{
  background-color: #3e82fd;

}
