.container{
  display: flex;
  align-items: center;
  gap: 100px;
}

.item{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
  flex-wrap: wrap;
}

@media (max-width: 997.98px){
  .container{
    gap: 50px;
  }
  .item{
    gap: 30px;
}
}

@media (max-width: 767.98px){
  .container{
   flex-direction: column;
   gap: 30px;
  }

}

.title{
  font-size: 72px;
  background: linear-gradient(to bottom, #194c33, #bbb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width:997.98px){
  .title{
    font-size: 50px;
  }
}

.img{
  max-width: 100%;
  max-height: 550px;
  object-fit: contain;
  animation: move 3s infinite ease alternate;
}

@media (max-width: 767.98px){
  .img{
    max-height: 350px;
  }

}

@keyframes move {
    from{
        transform: translateY(-10px);
    }
    to{
        transform: translateY(10px);
    }
}